extends layout

block content
  if todos.length
    ul
      each todo in todos
        li= todo
  else
    p No tasks yet. Add one!
  //- -var friends = 0
  //- case friends
  //-   when 0
  //-     p you have no friends
  //-   when 1
  //-     p you have a friend
  //-   default
  //-     p you have #{friends} friends
  -var list = ["Uno", "Dos", "Tres","Cuatro", "Cinco", "Seis"]
  each item in list
    li= item